
<%- include('header') -%>
<%- include('navbar') -%>
<div class="row row-cols-1 row-cols-md-4">
<%cars.forEach(function(car){ %>
  <%if(car._renter == undefined){ %>
  <div class="col mb-4">
  <div class="card" >
    <img class="card-img-top" src="<%= car.image %>"" alt="car image">
    <div class="card-body">
      <h5 class="card-title"><%= car.name %></h5>
      <p class="card-text"><%= car.color %></p>
      <a href="/rent/new/<%= car.id %>" class="btn btn-primary">Rent</a>
      <a href="/car/<%= car.id %>" class="btn btn-primary">Deatils</a>
      <a href="/car/del/<%= car.id %>" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>
  <% } %>
  <%}); %>
</div>