<%- include('header') -%>
<%- include('navbar') -%>
<%cars.forEach(function(car){ %>
  <div class="card" style="width: 18rem; margin:45px; ">
    <img class="card-img-top" src="<%= car.image %>"" alt="car image">
    <div class="card-body">
      <h5 class="card-title"><%= car.name %></h5>
      <p class="card-text"><%= car.color %></p>
      <a href="/car/<%= car._id %>" class="btn btn-primary">Deatils</a>
      <a href="/rent/del/<%= car.rentid %>" class="btn btn-danger">End Rent</a>
    </div>
  </div>
  <%}); %>